@import "./loading.less";

@import url("//fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

@base-font: 13px "Roboto Condensed", sans-serif;
@mono-font: 12px "Source Code Pro", monospace;

html, body {
  width: 100%;
  height: 100%;
  font-weight: bold;
}

body {
  background: black;
  font: @base-font;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  color: white;
}

pre {
  font: @mono-font;
}

input {
  font: inherit;
  color: inherit;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: inherit;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: inherit;
}

a {
  color: #ddd;
}

.renderer, .ui-root {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

// TODO: support non-webkit
@-webkit-keyframes bubble {
  0% {
    opacity: 0;
    transform: translate(0, 16px);
  }

  10% {
    opacity: 1.0;
    transform: translate(0, 0);
  }

  90% {
    opacity: 1.0;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(0, -16px);
  }
}

@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  10% {
    opacity: 1.0;
    transform: scale(2);
  }

  90% {
    opacity: 1.0;
    transform: scale(2);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.ui-root {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;

  .overlay {
    position: absolute;

    .components {
      position: absolute;

      .bubble {
        position: absolute;

        width: 200px;

        .anchor {
          position: absolute;
          width: auto;
          bottom: 0;

          .inner {
            position: relative;
            left: -50%;

            animation: bubble 3s;
            -webkit-animation: bubble 3s;

            min-width: 20px;
            max-width: 200px;

            padding: 4px 8px;
            text-align: center;
            background: #fff;
            color: #000;
            font-size: 12px;
            word-wrap: break-word;

            &:before {
              top: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }

            &:before {
              border-top-color: #fff;
              border-width: 6px;
              margin-left: -6px;
            }
          }
        }
      }

      .damage {
        position: absolute;

        .inner {
          animation: zoom 1s;
          -webkit-animation: zoom 1s;

          position: relative;
          left: -50%;
          padding: 2px 4px;
          color: red;
          font-size: 24px;
        }
      }
    }

    -webkit-user-select: none;
    user-select: none;

    cursor: default;
  }

  .log {
    background: rgba(0, 0, 0, 0.5);

    position: absolute;
    left: 10px;
    bottom: 10px;

    width: 480px;
    height: 200px;

    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .messages {
      padding: 8px;
      margin: 0;
      list-style: none;

      overflow: auto;

      li {
        word-wrap: break-word;

        .status, .info {
          color: #aaa;
        }

        pre {
          margin: 0;
        }
      }
    }

    input {
      flex-shrink: 0;

      background: transparent;
      border: 1px solid #ffffff;
      padding: 0 8px;

      outline: 0;
      margin: 0;

      height: 24px;

      opacity: 0.5;
      transition: opacity 0.2s ease-out;

      text-shadow: inherit;

      &:focus, &:hover {
        background: rgba(255, 255, 255, 0.25);
        opacity: 1.0;
      }
    }
  }

  .debug {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;

    font: @mono-font;

    dl {
      margin: 0;
    }

    .attrs th {
      text-align: left;
      vertical-align: top;
    }
  }

  .loading {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .error {
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.8);

      padding: 5px 0;

      .inner {
        width: 75%;

        h1 {
          margin: 0;
          padding: 5px 0;
          font-size: 3em;
        }

        pre {
          border-left: 2px solid rgba(255, 255, 255, 0.4);
          padding-left: 8px;
          white-space: pre-wrap;
        }
      }
    }

    background: rgba(0, 0, 0, 0.8);

    width: 100%;
    height: 100%;
  }
}
