@import url("//fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-weight: bold;
}

body {
  background: black;
  font: 13px "Roboto Condensed", sans-serif;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  color: white;
}

input {
  font: inherit;
  color: inherit;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: inherit;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: inherit;
}

a {
  color: #ddd;
}

.renderer, .ui-root {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.ui-root {
  width: 100%;
  height: 100%;
  z-index: 1;

  .chat {
    background: rgba(0, 0, 0, 0.5);

    position: absolute;
    left: 10px;
    bottom: 10px;

    width: 480px;
    height: 200px;

    padding: 0;

    display: flex;
    flex-direction: column;

    .messages {
      padding: 8px;
      margin: 0;
      list-style: none;
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      overflow: auto;

      .status {
        color: #aaa;
      }

      li {
        padding-left: 22px;
        text-indent: -22px;
        word-wrap: break-word;
      }
    }

    input {
      background: transparent;
      border: 1px solid #ffffff;
      padding: 0 8px;

      outline: 0;
      margin: 0;

      width: 100%;
      height: 24px;

      opacity: 0.5;
      transition: opacity 0.2s ease-out;

      text-shadow: inherit;

      &:focus, &:hover {
        background: rgba(255, 255, 255, 0.25);
        opacity: 1.0;
      }
    }
  }

  .debug {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;

    font-family: monospace;

    dl {
      margin: 0;
    }

    .attrs th {
      text-align: left;
      vertical-align: top;
    }
  }

  .loading {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;

    background: rgba(0, 0, 0, 0.5);

    width: 100%;
    height: 100%;
  }
}
