//@import (css) "//fonts.googleapis.com/css?family=Roboto+Slab";

@hilight: rgba(255, 255, 255, 0.25);
@transition: 0.1s ease-in;

* {
  box-sizing: border-box;
}

body {
  background: black;
  font-size: 14px;
  font-family: "Roboto Slab", sans-serif;
  text-rendering: optimizeLegibility;
}

small {
  font-size: 12px;
}

.app {
  width: 1024px;
  height: 768px;

  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;

  width: 100%;
  height: 100%;

  cursor: pointer;

  .highlight {
    position: absolute;
    z-index: -2;
  }

  .tiles {
    position: absolute;
    z-index: -3;
  }

  .avatar {
    display: block;

    position: absolute;
    width: 32px;
    height: 64px;

    background: url("../img/avatar.png");
    z-index: -1;
  }
}

.ui {
  position: absolute;
  left: 16px;
  top: 16px;

  width: 992px;
  height: 736px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 16px;
  text-shadow: 0 0 2px #000000;
  pointer-events: all;
}

.player-info {
  .overlay;

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 80px;

  .icon {
    float: left;
  }

  .stats {
    float: left;
    margin-left: 16px;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.switcher {
  position: absolute;
  left: 0;
  top: 96px;

  width: 992px;
  height: 640px;
}

.sidebar {
  .overlay;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  padding: 0;
  margin: 0;

  list-style: none;

  li {
    position: relative;

    a {
      position: relative;

      display: block;
      padding: 8px;
      width: 48px;
      height: 48px;

      background-repeat: no-repeat;
      background-size: 32px 32px;
      background-position: 8px 8px;
      opacity: 0.25;
      transition: @transition opacity;
    }

    &:after {
      .overlay;

      font-size: 16px;

      position: absolute;
      left: 48px;
      top: 0;

      padding: 0 8px;

      content: attr(data-caption);

      height: 48px;
      line-height: 48px;

      color: #fff;
      opacity: 0;

      visibility: hidden;
      transition: @transition all;
    }


    &.active a, &:hover a {
      opacity: 1;
    }

    &:hover:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.ui {
  pointer-events: none;

  input {
    width: 100%;
    height: 32px;
    border: none;

    background: rgba(0, 0, 0, 0.5);
    outline: 0;
    color: inherit;
    font: inherit;
    padding: 0 8px;
  }

  a {
    color: #ccc;
    text-decoration: none;
  }

  color: #fff;
}

.chat {
  .overlay;

  position: absolute;
  left: 0;
  bottom: 0;

  width: 464px;
  height: 240px;

  .backlog {
    height: 160px;
    margin-bottom: 16px;

    overflow: auto;

    td, th {
      vertical-align: top;
    }

    th {
      font-weight: normal;
      width: 72px;
      text-align: left;

      &.highlight-1 { color: #ff5555; }
      &.highlight-2 { color: #ff6600; }
      &.highlight-3 { color: #ffd42a; }
      &.highlight-4 { color: #ccff00; }
      &.highlight-5 { color: #00ccff; }
      &.highlight-6 { color: #d35fbc; }
      &.highlight-7 { color: #ff2a7f; }
    }

    td {
      word-break: break-all;
    }

    .info {
      color: #b3b3b3;
    }
  }
}

.list {
  overflow: auto;

  .items {
    list-style: none;

    margin: 0;
    padding: 0;

    > li {
      .item-header {
        display: block;
        width: 100%;
        color: #ffffff;

        transition: @transition background;
      }

      &.active .item-header, .item-header:hover {
        background: @hilight;
      }
    }
  }
}

.nearby {
  .overlay;

  position: absolute;
  right: 0;
  top: 0;

  width: 512px;
  height: 640px;

  .long {
    height: 512px;
    margin-bottom: 16px;

    .list {
      float: left;

      width: 50%;
      height: 100%;

      .items {
        width: 100%;
        height: 100%;

        > li {
          .item-header {
            .icon {
              float: left;
            }

            .name {
              padding-left: 8px;
              height: 48px;
              line-height: 48px;
            }
          }
        }
      }
    }

    .menu li {
      padding-left: 40px;
    }
  }

  .short {
    height: 48px;

    .left .list {
      .name, .menu {
        left: 16px;
        text-align: left;
      }
    }

    .right .list {
      .name, .menu {
        right: 16px;
        text-align: right;
      }
    }

    .list {
      overflow: visible;
    }

    .items > li {
      float: left;

      .item-header .name {
        position: absolute;
        visibility: hidden;
        opacity: 0;

        white-space: nowrap;

        background: @hilight;

        width: 240px;
        height: 48px;

        line-height: 48px;

        padding: 0 16px;

        bottom: 64px;

        transition: @transition all;
      }

      &:hover, &.active {
        .item-header .name {
          visibility: visible;
          opacity: 1;
        }
      }

      &.active {
        .menu {
          visibility: visible;
        }
      }
    }

    .menu {
      position: absolute;
      bottom: 112px;
      width: 240px;
    }
  }

  .menu {
    overflow: hidden;

    > li {
      height: 0;

      background: @hilight;

      transition: @transition height;
    }
  }

  .items > li.active .menu {
    > li {
      height: 28px;
      overflow: hidden;
    }
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    transition: @transition all;

    a {
      display: block;
      width: 100%;

      padding: 4px 16px;

      transition: @transition all;

      &:hover {
        background: @hilight;
      }
    }
  }
}

.name {
  font-size: 16px;
  height: 32px;

  small {
    font-size: 12px;
  }
}

.tab {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;

  transition: @transition all;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

#sidebar-explore {
  &, &:before { background-image: url("../img/icons/explore.svg"); }
}

#sidebar-inventory {
  &, &:before {  background-image: url("../img/icons/inventory.svg"); }
}

#sidebar-quests {
  &, &:before {  background-image: url("../img/icons/quests.svg"); }
}

#sidebar-skills {
  &, &:before {  background-image: url("../img/icons/skills.svg"); }
}

#sidebar-guild {
  &, &:before {  background-image: url("../img/icons/guild.svg"); }
}

#sidebar-property {
  &, &:before {  background-image: url("../img/icons/property.svg"); }
}

.bars {
  .bar {
    width: 288px;
    float: left;
    margin-left: 16px;

    text-shadow: none;
  }

  margin-left: -16px;
}

.bar {
  height: 16px;
  position: relative;

  .fill {
    position: absolute;
    height: 100%;
  }

  .caption {
    position: absolute;
    font-size: 12px;

    height: 100%;
    width: 100%;
    text-align: center;
  }

  &.hp {
    background: #ffd5d5;

    .fill {
      background: #ff2a2a;
    }

    .caption {
      color: #2b0000;
    }
  }

  &.mp {
    background: #d5f6ff;

    .fill {
      background: #00ccff;
    }

    .caption {
      color: #004455;
    }
  }

  &.xp {
    background: #fff6d5;

    .fill {
      background: #ffcc00;
    }

    .caption {
      color: #554400;
    }
  }
}

.icon {
  display: block;
  width: 48px;
  height: 48px;

  &.taxonomy-creature.kind-human.variant-1 {
    background: url("../img/face.png");
  }
}

.spread {
  .overlay;

  position: absolute;
  right: 0;
  top: 0;

  width: 944px;
  height: 100%;
}

