@import "/ui/util";

.debug {
  .window(#222, #fff, #000);

  position: absolute;
  right: 16px;
  top: 16px;

  padding: 8px;

  font: @mono-font;

  dl {
    margin: 0;
  }

  .attrs th {
    text-align: left;
    vertical-align: top;
  }
}
