@import "/ui/util";

.interactions-menu {
  .window(#fff, #888, #fff);
  text-shadow: none;

  min-width: 200px;
  max-width: 400px;

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    width: 0;
    height: 0;
    padding: 0;
    margin: 0;

    &:checked + label {
      color: #fff;
      background: #0cf;
      text-shadow: 0 1px 0 darken(#0cf, 10%);

      &.cancel {
        background: #f55;
        text-shadow: 0 1px 0 darken(#f55, 10%);
      }
    }
  }

  button[type="submit"] {
    position: absolute;
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  label {
    display: block;
    padding: 4px 8px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      color: #fff;
      background: #0cf;
      text-shadow: 0 1px 0 darken(#0cf, 10%);

      &.cancel {
        background: #f55;
        text-shadow: 0 1px 0 darken(#f55, 10%);
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cancel {
    border-top: 1px solid darken(#fff, 10%);
    color: #f55;
  }
}
