.inventory {
  @width: 48px * 4 - 8px;
  width: @width;

  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 4px;

  position: absolute;
  left: 50%;
  top: 50%;

  margin-left: -@width / 2;

  .heading {
    padding-bottom: 4px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    margin-top: 4px;

    margin-top: -8px;
    margin-left: -8px;

    li {
      margin-left: 8px;
      margin-top: 8px;
      float: left;

      .item {
        display: block;
        background: rgba(255, 255, 255, 0.2);
        padding: 4px;
        border-radius: 4px;
        border: 0;
        margin: 0;
        cursor: pointer;
        outline: 0;

        transition: background 0.2s ease-out;

        &:hover {
          background: rgba(255, 255, 255, 0.5);
        }
      }

      .sprite {
        width: 32px;
        height: 32px;
      }
    }
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 16px);
  }

  transition: all 0.2s;
}
