@import "/ui/util";

.error {
  .window(#f00, lighten(#f00, 50%), darken(#f00, 10%));

  min-width: 400px;

  pre {
    border-left: 2px solid rgba(255, 255, 255, 0.4);
    padding-left: 8px;
    white-space: pre-wrap;
  }

  p {
    margin: 0;
  }

  .content {
    padding: 4px 8px;
  }
}
