.ui-root {
  @import "./debug";
  @import "./inventory";
  @import "./loading";
  @import "./overlay/overlay";
  @import "./log";
  @import "./stats";

  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
