{% extends "_layout.html" %}
{% block body %}
{% from elpizo.models.actors import Player, Actor %}
{% from elpizo.models.fixtures import Fixture %}
{% from elpizo.models.base import Drop %}

<h1>
  <a href="/_debug/">Debug Console</a>
  / Entities
  / {{entity.id}}
</h1>

<dl>
  <dt>realm</dt>
  <dd><a href="/_debug/realms/{{entity.realm.id}}/">{{entity.realm_id}} (name: {{entity.realm.name}})</a></dd>
</dl>

<h2>Public Protobuf</h2>
<p>
  <pre>{{entity.to_protobuf()}}</pre>
</p>

{% if isinstance(entity, Fixture) %}
<h2>Fixture</h2>
<dl>
  <dt>type</dt>
  <dd>{{entity.__class__.__name__}}</dd>
</dl>
{% end %}

{% if isinstance(entity, Actor) %}
<h2>Actor</h2>
<h3>Inventory</h3>
<ul>
  {% for item in entity.inventory %}
    <li><a href="/_debug/items/{{item.id}}/">{{item.id}} (type: {{item.type}})</a></li>
  {% end %}
</ul>
{% end %}

{% if isinstance(entity, Player) %}
<h2>Player (<a href="/_debug/admit/?player={{entity.name}}">admit</a>)</h2>
<dl>
  <dt>online</dt>
  <dd>{{entity.online}}</dd>
</dl>
{% end %}

{% if isinstance(entity, Drop) %}
<h2>Drop</h2>
<dl>
  <dt>item</dt>
  <dd><a href="/_debug/items/{{entity.item.id}}/">{{entity.item.id}} (type: {{entity.item.type}})</a></dd>
</dl>
{% end %}

{% end %}
