{% extends "_layout.html" %}
{% block body %}
<h1>
  <a href="/_debug/">Debug Console</a>
  / {% if session.protocol is None %}<del>{% end %}<a href="/_debug/sessions/{{session.id}}/">Session {{session.id}}</a>{% if session.protocol is None %}</del>{% end %}
  / {{({"ws": "WebSocket", "amqp": "AMQP"})[mode]}} Packet {{i}}
</h1>

<dl class="{{"rx" if packet["received"] else "tx"}}">
  <dt>type</dt>
  <dd>{{packet["type"]}}</dd>

  <dt>origin</dt>
  <dd>{{packet["origin"]}}</dd>

  <dt>direction</dt>
  <dd>
    {% if packet["received"] %}
      {{({"ws": "client", "amqp": "queue"})[mode]}} -&gt; server
    {% else %}
      server -&gt; {{({"ws": "client", "amqp": "queue"})[mode]}}
    {% end %}
  </dd>

  <dt>duration</dt>
  <dd>{{"{:.2f}".format(packet["duration"] * 1000)}} ms</dd>
</dl>

<h2>Packet Body</h2>
<pre>{{packet["message"]}}</pre>

<h2>SQL Queries</h2>
<table class="sortable">
  <tr>
    <th class="sorttable_numeric">i</th>
    <th>text</th>
    <th>multiparams</th>
    <th>params</th>
    <th class="sorttable_numeric">duration</th>
  </tr>
  {% for query_index, query_stat in enumerate(packet["query_stats"]) %}
  <tr>
    <td>
      <a href="queries/{{query_index}}/">{{query_index}}</a>
    </td>
    <td><pre><code class="sql">{{query_stat.text}}</code></pre></td>
    <td><pre><code class="python">{{query_stat.user_context[2]}}</code></pre></td>
    <td><pre><code class="python">{{query_stat.user_context[3]}}</code></pre></td>
    <td>{{"{:.2f}".format(query_stat.duration * 1000)}} ms</td>
  </tr>
  {% end %}
</table>

{% end %}
