{% extends "_layout.html" %}
{% block body %}
{% from sqlalchemy.sql import Select %}
<h1>
  <a href="/_debug/">Debug Console</a>
  / Sessions
  / {% if session.protocol is None %}<del>{% end %}<a href="/_debug/sessions/{{session.id}}/">{{session.id}}</a>{% if session.protocol is None %}</del>{% end %}
  / Packets
  / {{({"ws": "WebSocket", "amqp": "AMQP"})[mode]}}
  / <a href="/_debug/sessions/{{session.id}}/packets/{{mode}}/{{packet_index}}/">{{packet_index}}</a>
  / Queries
  / {{query_index}}
</h1>

<dl>
  <dt>multiparams</dt>
  <dd><pre><code class="python">{{query.user_context[2]}}</code></pre></dd>

  <dt>params</dt>
  <dd><pre><code class="python">{{query.user_context[3]}}</code></pre></dd>

  <dt>duration</dt>
  <dd>{{"{:.2f}".format(query.duration * 1000)}} ms</dd>
</dl>

<h2>Text</h2>
<p>
  <pre><code class="sql">{{query.text}}</code></pre>
</p>

<h2>Stack</h2>
<p>
  <pre>{{stack}}</pre>
</p>

{% if isinstance(query.text, Select) %}
<h2>SELECT</h2>
{% set q = session.parent.application.sqla_factory.bind.execute(
    query.text, *query.user_context[2], **query.user_context[3]) %}
<table>
  <tr>
    {% for key in q.keys() %}
      <th>{{key}}</th>
    {% end %}
  </tr>
  {% for row in q %}
  <tr>
    {% for col in row %}
      <td>{{col}}</td>
    {% end %}
  </tr>
  {% end %}
</table>
{% end %}

<h2>Explain</h2>
<p>
{% autoescape None %}
  {{explain}}
{% autoescape %}
</p>

{% end %}
