{% extends "_layout.html" %}
{% block body %}
<h1>
  <a href="/_debug/">Debug Console</a>
  / {% if session.protocol is None %}<del>{% end %}<a href="/_debug/sessions/{{session.id}}/">Session {{session.id}}</a>{% if session.protocol is None %}</del>{% end %}
  / <a href="/_debug/sessions/{{session.id}}/packets/{{mode}}/{{packet_index}}/">{{({"ws": "WebSocket", "amqp": "AMQP"})[mode]}} Packet {{packet_index}}</a>
  / Query {{query_index}}
</h1>

<dl>
  <dt>multiparams</dt>
  <dd><pre>{{query.user_context[2]}}</pre></dd>

  <dt>params</dt>
  <dd><pre>{{query.user_context[3]}}</pre></dd>

  <dt>duration</dt>
  <dd>{{"{:.2f}".format(query.duration * 1000)}} ms</dd>
</dl>

<h2>Text</h2>
<p>
  <pre>{{query.text}}</pre>
</p>

<h2>Stack</h2>
<p>
  <pre>{{stack}}</pre>
</p>

<h2>Explain</h2>
<p>
{% autoescape None %}
  {{explain}}
{% autoescape %}
</p>

{% end %}
