{% extends "_layout.html" %}
{% block body %}
{% from elpizo.models.realm import Region %}

<h1>
  <a href="/_debug/">Debug Console</a>
  / Realms
  / <a href="/_debug/realms/{{region.realm.id}}/">{{region.realm.id}}</a>
  / Regions
  / {{region.arx}},{{region.ary}}
</h1>

<table>
  {% for ry in range(Region.SIZE) %}
  <tr>
    {% for rx in range(Region.SIZE) %}
    {% set passability = region.passabilities[ry * Region.SIZE + rx] %}
    <td>
      <table>
        <tr>
          <td></td>
          <td style="background:{{"green" if (passability >> 2) & 0b1 else "red"}}"></td>
          <td></td>
        </tr>
        <tr>
          <td style="background:{{"green" if (passability >> 3) & 0b1 else "red"}}"></td>
          <td></td>
          <td style="background:{{"green" if (passability >> 1) & 0b1 else "red"}}"></td>
        </tr>
        <tr>
          <td></td>
          <td style="background:{{"green" if (passability >> 0) & 0b1 else "red"}}"></td>
          <td></td>
        </tr>
      </table>
    </td>
    {% end %}
  </tr>
  {% end %}
</table>

<h2>Layers</h2>
<ul>
{% for layer in region.layers %}
  <li>{{layer.terrain.name}}</li>
{% end %}
</ul>

{% end %}
