{% extends "_layout.html" %}
{% block body %}
<h1>
  <a href="/_debug/">Debug Console</a>
  / Sessions
  / {% if session.protocol is None %}<del>{% end %}{{session.id}}{% if session.protocol is None %}</del>{% end %}
</h1>

<dl>
  <dt>user name</dt>
  <dd><a href="/_debug/users/{{player.user.id}}/">{{player.user.id}} (name: {{player.user.name}})</a></dd>

  <dt>player</dt>
  <dd><a href="/_debug/entities/{{player.id}}/">{{player.id}} (name: {{player.name}})</a></dd>
</dl>

<h2>Public Protobuf</h2>
<p>
  <pre>{{player.to_protobuf()}}</pre>
</p>

<h2>WebSocket Traffic</h2>
<table class="sortable">
  <tr>
    <th class="sorttable_numeric">i</th>
    <th>dir</th>
    <th>type</th>
    <th class="sorttable_numeric">origin</th>
    <th>message (first 100 bytes)</th>
    <th class="sorttable_numeric">duration</th>
  </tr>
  {% for i, packet in reversed(list(enumerate(session.packets["ws"]))) %}
  <tr class="{{"rx" if packet["received"] else "tx"}}">
    <td>
      <a href="packets/ws/{{i}}/">{{i}}</a>
    </td>
    <td>
      {% if packet["received"] %}c-&gt;s{% else %}s-&gt;c{% end %}
    </td>
    <td>{{packet["type"]}}</td>
    <td><a href="/_debug/entities/{{packet["origin"]}}/">{{packet["origin"]}}</a></td>
    <td><pre>{{str(packet["message"])[:100]}}</pre></td>
    <td>{{"{:.2f}".format(packet["duration"] * 1000)}} ms</td>
  </tr>
  {% end %}
</table>

<h2>AMQP Traffic</h2>
<table class="sortable">
  <tr>
    <th class="sorttable_numeric">i</th>
    <th>dir</th>
    <th>routing key</th>
    <th>type</th>
    <th class="sorttable_numeric">origin</th>
    <th>message (first 100 bytes)</th>
    <th class="sorttable_numeric">duration</th>
  </tr>
  {% for i, packet in reversed(list(enumerate(session.packets["amqp"]))) %}
  <tr class="{{"rx" if packet["received"] else "tx"}}">
    <td>
      <a href="packets/amqp/{{i}}/">{{i}}</a>
    </td>
    <td>
      {% if packet["received"] %}q-&gt;s{% else %}s-&gt;q{% end %}
    </td>
    <td>{{packet["routing_key"]}}</td>
    <td>{{packet["type"]}}</td>
    <td><a href="/_debug/entities/{{packet["origin"]}}/">{{packet["origin"]}}</a></td>
    <td><pre>{{str(packet["message"])[:100]}}</pre></td>
    <td>{{"{:.2f}".format(packet["duration"] * 1000)}} ms</td>
  </tr>
  {% end %}
</table>

{% end %}
