{% extends "_layout.html" %}
{% block body %}
<h1>
  <a href="/_debug/">Debug Console</a>
  / {% if session.protocol is None %}<del>{% end %}Session {{session.id}}{% if session.protocol is None %}</del>{% end %}
</h1>

<dt>
  <dt>user name</dt>
  <dd>{{player.user.name}}</dd>
</dt>

<h2>Public Protobuf</h2>
<p>
  <pre>{{player.to_protobuf()}}</pre>
</p>

<h2>AMQP Traffic</h2>
<table>
  <tr>
    <th>i</th>
    <th>dir</th>
    <th>routing key</th>
    <th>type</th>
    <th>origin</th>
    <th>message (first 100 bytes)</th>
    <th>duration</th>
  </tr>
  {% for i, packet in reversed(list(enumerate(session.packets["amqp"]))) %}
  <tr>
    <td>
      <a href="packets/amqp/{{i}}/">{{i}}</a>
    </td>
    <td>
      s{% if packet["received"] %}&lt;-{% else %}-&gt;{% end %}q
    </td>
    <td>{{packet["routing_key"]}}</td>
    <td>{{packet["type"]}}</td>
    <td>{{packet["origin"]}}</td>
    <td><pre>{{str(packet["message"])[:100]}}</pre></td>
    <td>{{"{:.2f}".format(packet["duration"] * 1000)}} ms</td>
  </tr>
  {% end %}
</table>

<h2>WebSocket Traffic</h2>
<table>
  <tr>
    <th>i</th>
    <th>dir</th>
    <th>type</th>
    <th>origin</th>
    <th>message (first 100 bytes)</th>
    <th>duration</th>
  </tr>
  {% for i, packet in reversed(list(enumerate(session.packets["ws"]))) %}
  <tr>
    <td>
      <a href="packets/ws/{{i}}/">{{i}}</a>
    </td>
    <td>
      s{% if packet["received"] %}&lt;-{% else %}-&gt;{% end %}c
    </td>
    <td>{{packet["type"]}}</td>
    <td>{{packet["origin"]}}</td>
    <td><pre>{{str(packet["message"])[:100]}}</pre></td>
    <td>{{"{:.2f}".format(packet["duration"] * 1000)}} ms</td>
  </tr>
  {% end %}
</table>
{% end %}
