{% extends "_layout.html" %}
{% block body %}

<h1>
  <a href="/_debug/">Debug Console</a>
  / Terrain
  / {{terrain.id}}
</h1>

<dl>
  <dt>name</dt>
  <dd>{{terrain.name}}</dd>

  <dt>passabilities</dt>
  <dd>
    <table>
      <tr>
        <td></td>
        <td style="background:{{"green" if (terrain.passable >> 0) & 0b1 else "red"}}"></td>
        <td></td>
      </tr>
      <tr>
        <td style="background:{{"green" if (terrain.passable >> 1) & 0b1 else "red"}}"></td>
        <td></td>
        <td style="background:{{"green" if (terrain.passable >> 2) & 0b1 else "red"}}"></td>
      </tr>
      <tr>
        <td></td>
        <td style="background:{{"green" if (terrain.passable >> 3) & 0b1 else "red"}}"></td>
        <td></td>
      </tr>
    </table>
  </dd>
</dl>

{% end %}
